<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">HealthRate</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/page1">Doctor Registry</a></li>
          <li class="nav-item"><a class="nav-link" href="/page2">Feedback</a></li>
          <li class="nav-item"><a class="nav-link" href="/page3">Transactions</a></li>
          <li class="nav-item"><a class="nav-link" href="/page4">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="/page5">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>